.post-body p a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.post-title {
  font-size: 1.375em;
}

.post-body {
  font-size: 0.875em;
}

.contactme {
  color: #bbb;
  padding: 1em 1.5em;
  text-align: center;
  background: var(--card-bg-color);
  border-left: 3px solid #ff2a2a;
  margin: 1em 0 0;
}

.fold-cover {
  height: 100px;
}

p {
  margin: 0 0 5px;
}

blockquote {
  padding: 8px 20px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  border-left: 5px solid rgba(0, 152, 116, 1) !important;
}
