.darkmode--activated {

  .tipue_search_content_text {
    color: #ffffff;
  }

  .tipue_search_content_title a {
      color: #ffffff;
  }

  .v[data-class='v'] code, .v[data-class='v'] pre {
    color: #555;
    background-color: #282b2e;
  }

}
