.darkmode--activated {

  .tipue_search_content_text {
    color: #ffffff;
  }

  .tipue_search_content_title a {
      color: #ffffff;
  }

  .v[data-class='v'] h4 {
    color: #555;
  }

  .v[data-class='v'] p {
    color: #ccc;
  }

  .v[data-class='v'] code, .v[data-class='v'] pre {
    color: #ccc;
    background-color: #282c34;
  }

}
