.moon-menu-item {
    left: 0.4em !important;
}

.moon-menu {
    --moon-cricle: #282828 !important;
    --moon-item-bg-color: #282828 !important;
}

.moon-menu-icon {
    font-size: 1.7em !important;
    line-height: 2.1em !important;
}

.moon-menu-text {
    font-size: 1.0em !important;
    line-height: 3.5em !important;
}

.moon-menu, .moon-menu-bg, .moon-menu-content {
    right: 27px !important;
    bottom: 120px !important;
    width: 3.5em !important;
    height: 3.5em !important;
}
