.wl-content .vemoji, .wl-content .wl-emoji {
  display: inline !important;
}

.wl-content code[class*=language-], .wl-content pre[class*=language-] {
  font-size: 1em !important;
}

.comments {
  overflow: unset;
}

button.wl-action[title="表情包"] {
  display: none;
}