.wl-content .vemoji, .wl-content .wl-emoji {
  display: inline !important;
}

.wl-content code[class*=language-], .wl-content pre[class*=language-] {
  font-size: 1.2em !important;
}

.wl-power {
  display: none;
}
