.vcontent p .vemoji {
  display: inline !important;
}

.vpreview p .vemoji {
  display: inline !important;
}

.comments {
  overflow: unset;
}

.v[data-class=v] code[class*=language-], .v[data-class=v] pre[class*=language-] {
  font-size: 1.2em !important;
}