{%- if theme.aplayer.enable %}
    <link rel="stylesheet" href="/lib/aplayer/dist/APlayer.min.css">
    <div id="aplayer" style="display: none"></div>
    <script src="/lib/aplayer/dist/APlayer.min.js"></script>
    <script src="/lib/aplayer/dist/color-thief.js"></script>
    <script src="/lib/aplayer-init.js"></script>
{%- endif %}
