{%- if config.google_adsense and config.google_adsense.enable %}
  <script data-ad-client="{{ config.google_adsense.publisher_id }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{%- endif %}
