<!-- JQuery -->
{%- include './jquery.njk' -%}

<!-- Baidu Push -->
{%- include './baidu-push.njk' -%}

<!-- Google Adsense -->
{%- include './google-adsense.njk' -%}

<!-- Aplayer -->
{%- include './aplayer.njk' -%}

<!-- Wechat JS SDK -->
{%- include './wx-js-sdk.njk' -%}
