{%- if not is_index and config.google_adsense and config.google_adsense.enable and config.google_adsense.article_footer and not post.unads %}
  <div style="text-align:center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="{{ config.google_adsense.publisher_id }}"
         data-ad-slot="7586134725"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
{%- endif %}
